### Live_Day_1_EDA_&_Stock_Analysis_with_Time_Series_Data - iNeuron.ai

In [26]:
# !pip install pandas-datareader
# !pip install yfinance

In [27]:
# import required libraries
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
from datetime import datetime

In [28]:
# lets read tesla shares data
start_date = "2017-02-27"
end_date = "2022-02-25"

tesla = pdr.get_data_yahoo('TSLA', start=start_date, end=end_date)

# first five records
tesla.head(5)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-02-27  16.544666  16.557333  16.134001  16.415333  16.415333  171912000
2017-02-28  16.279333  16.733334  16.260000  16.666000  16.666000   91171500
2017-03-01  16.945333  16.990000  16.607332  16.667999  16.667999   72142500
2017-03-02  16.647333  16.885332  16.551332  16.698668  16.698668   50277000
2017-03-03  16.716000  16.793333  16.600000  16.771334  16.771334   43791000

In [29]:
# last five records
tesla.tail(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-17,304.420013,306.166656,291.366669,292.116669,292.116669,55178400
2022-02-18,295.333344,295.623322,279.203339,285.660004,285.660004,68501700
2022-02-22,278.043335,285.576660,267.033325,273.843323,273.843323,83288100
2022-02-23,276.809998,278.433319,253.520004,254.679993,254.679993,95256900
2022-02-24,233.463333,267.493347,233.333328,266.923340,266.923340,135322200

In [30]:
# Another option to get data

# tesla = yf.download('TSLA', start=start_date, end=end_date)
# tesla.head()